<!--The content below is only a placeholder and can be replaced.-->

<div class="container app">
  <div class="row">
    <div class="col-sm-8">
        <h1 class="text-right mb-5">Angular CRUD</h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissible" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert();">
          &times;
        </a>
        {{ msg }}
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="msg2">
        <a href="#" class="close" (click)="closeAlert();">
          &times;
        </a>
        {{ msg2 }}
      </div>
      <div class="alert alert-warning alert-dismissible" *ngIf="msg3">
        <a href="#" class="close" (click)="closeAlert();">
          &times;
        </a>
        {{ msg3 }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <img width="300" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div class="col-sm-8">
      <h3 class="mb-3">Create Data:</h3>
      <form class="form-horizontal">
        <div class="form-group row">
          <label for="name" class="col-form-label col-sm-2">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control " id="name" placeholder="Enter a New Name" #name>
          </div>
        </div>
        <div class="form-group row">
          <label for="position" class="col-form-label col-sm-2">Position</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="position" placeholder="Enter a New Position" #position>
          </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-form-label col-sm-2">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Enter a New Email" #email>
              <button class="btn btn-primary mt-3" (click)="addEmployees(name, position, email)">Save</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Read Data:</h2>
      <table class="table table-bordered">
           <thead>
             <tr>
               <th>Name</th>
               <th>Position</th>
               <th>Email</th>
               <th>Actions</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let employee of Employees let i = index;">
               <td>{{ employee.name }}</td>
               <td>{{ employee.position }}</td>
               <td>{{ employee.email }}</td>
               <td>
                 <a (click)="editEmployees(i, name2, position2, email2)" class="btn btn-warning mr-2">Edit</a>
                 <a (click)="deleteEmployees(i)" class="btn btn-danger">Delete</a>
               </td>
             </tr>
           </tbody>
      </table>
    </div>
    <div class="col-sm-4" [hidden]="hidden">
      <div class="card">
        <div class="card-header">
          <h2>Update Data:</h2>
        </div>
        <div class="card-body">
           <form class="form-horizontal">
            <div class="form-group">
              <label for="name" class="col-form-label col-sm-5">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control " id="name" placeholder="Name" #name2>
              </div>
            </div>
            <div class="form-group">
              <label for="position" class="col-form-label col-sm-5">Position</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="position" placeholder="Position" #position2>
              </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-form-label col-sm-5 ">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Email" #email2>
                 
                </div>
                <button class="btn btn-primary mt-3 btn-block" (click)="updateEmployee(name2, position2, email2)">Save</button>
              </div>
          </form>
        </div>
      </div>
        
       
    </div>
  </div>
</div>